* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  --text-grey100: #E2E4E9;
  --text-grey200: #C0C4CE;
  --text-grey300: #878EA1;
  --text-grey400: #292C34;
  --text-grey500: #16181D;
  --text-grey600: #0D0E11;


  --font-family-asap: 'Asap', sans-serif;
  --title-xxl: 800 56px/120% var(--font-family-asap);
  --title-md: 800 24px/120% var(--font-family-asap);
  --title-sm: 800 16px/120% var(--font-family-asap);

  --font-family-icl: 'Incosolata', sans-serif;
  --text-sb: 600 20px/120% var(--font-family-icl);

  --font-family-mp: 'Maven Pro', sans-serif;
  --text-mdm: 600 16px/140% var(--font-family-mp);
  --text-smi: 600 14px/140% var(--font-family-mp);
}

.grid {
  display: grid;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
  gap: 16px;
}

.techz {
  display: flex;
  align-items: center;
  gap: 8px;
}
 