#main {
  background-color: var(--text-grey500);
  text-align: center;

  h2 {
    margin-top: 8px;
    font: var(--title-md);
    color: var(--text-grey200);
  }

  h3 {
    font: var(--text-sb);
    color: var(--color-red);
  }
}

#thumb {
  img {
    margin-top: 6px;
    max-width: 306px;
    max-height: 156px;
  }
  background-color: var(--text-grey400);
  width: 330px;
  height: 280px;
  border-radius: 4px;
  position: relative;
  span {
    font: var(--title-sm);
    color: var(--text-grey100);
  }

  p {
    font: var(--text-smi);
    color: var(--text-grey200)
  };
}

