#main {
  background-color: var(--text-grey500);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0px;
  
}

#main h2 {
    margin-top: 8px;
    font: var(--title-md);
    color: var(--text-grey200);
}

#main h3 {
    font: var(--text-sb);
    color: var(--color-red);
}




.card img{
  height: 156px;
  width: 306px;
  
 
}

.card {
  max-width: 330px;
  background: var(--text-grey400);
  padding: 10px;
  border-radius: 12px;
  display: grid;
  z-index: 1;
}
.title {
  font: var(--title-sm);
  color: var(--text-grey100);
  padding: 20px 0px 8px;
}

.card p {
  font: var(--text-smi);
  color: var(--text-grey200);
  
}

